*{margin:0; padding: 0;}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.rr p, ul, button span{
    font-family: 'Overpass', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.bg{
    background-color: hsl(216, 12%, 8%);
    height: 100vh;
    box-sizing: border-box;
}

.container{
    position: relative;
    top: 23%;
    width: 90%;
    height: 55%;
    margin: auto;
    background-color: #1f2630;
    padding-top: 7%;
    border-radius: 10px;
    box-sizing: border-box;
}

.rr_img{
    position: absolute;
    margin-left: 30px;
    background-color: hsl(213, 19%, 25%);
    padding: 10px;
    border-radius: 50px;
}

.thx_img{
    display: block;
    margin-left: auto;
    margin-right: auto;   
}

.rr_h1{
    margin-top: 16.5%;
    margin-left: 7%;
    position: absolute;
    font-family: 'Overpass', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
}

.select{
    display: block;
    color: #f97813;
    background-color: #262f37;
    padding: 5px;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    border-radius: 50px;

}

.thx_h1{
    display: block;
    color: white;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    text-align: center;
}

.rr_p{
    display: block;
    margin-top: 28%;
    margin-left: auto;
    margin-right: auto;
    color: hsl(217, 12%, 63%);
    line-height: 23px;
    font-size: .93rem;
    width: 87%;
}

.thx_p{
    display: block;
    color: hsl(217, 12%, 63%);
    text-align: center;
    font-family: 'Overpass', sans-serif;
    line-height: 23px;
    font-size: .93rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.rating_radio{
    position: absolute;
    top: 60%;
    margin-left: 7%;
    width: 100%;
}

.rr_input[type="radio"]{
    margin-right: 24px;
    appearance: none;
    color: hsl(213, 19%, 25%);
    background-color: hsl(213, 19%, 25%);
    width: 2.25rem;
    height: 2.25rem;
    font: inherit;
    border-radius: 50%;
    border: none;
}

.rr_input input[type="radio"]::before{
    content: "";
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    transform: scale(0);
}

.rr_input[type="radio"]:checked::before{
    transform: scale(1);
}

.rr_input[type="radio"]:focus {
    background-color: hsl(25, 97%, 53%);
    border: none;
}

.rr_span{
    font-family: 'Overpass', sans-serif;
    font-size: .70rem;
    position: absolute;
    margin-left: -13.2%;
    margin-top: 3.5%;
    color: white;
}

:focus{
    outline: 0;
}

.rr_button{
    display: block;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 30%;
    width: 87%;
    padding: 15px;
    background-color: hsl(25, 97%, 53%);
    color: white;
    border-style: none;
    border-radius: 25px;
    letter-spacing: 3px;
}

.rr_button:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
}

