
ul{list-style: none;}

*{margin:0; padding: 0; box-sizing: border-box; font-family: 'Overpass', sans-serif;}

body {
    background-color: hsl(216, 12%, 8%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 1.5rem;
}

.main_container, .thankYou_container {
    background-color: hsl(213, 19%, 18%);
    border-radius: 15px;
    width: 50%;
    padding: 2rem;
    margin: auto
}

.main_container img{
    background-color: hsl(213, 19%, 25%);
    padding: 10px;
    border-radius: 50px;
    margin-left: .5rem;
}

.main_container h1{
    color: white;
    font: inherit;
    margin: 2.5rem 0 1rem 0;
    font-size: 2rem;
}

.main_container p{
    margin-bottom: 1rem;
    color: hsl(217, 12%, 63%);
    line-height: 1.5rem;
}

.main_container ul{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.main_container ul li{
    background-color: hsl(213, 19%, 25%);
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    text-align: center;
    padding: .9rem;
    color: hsl(217, 12%, 63%);
    font: inherit;
    cursor: pointer;
    border: none;
    transition: .4s;
}

.main_container ul li:hover {
    background-color: hsl(25, 97%, 53%);
    color: white;
}

.main_container ul li:focus {
    background-color: hsl(217, 12%, 63%);
    color: white;
}

.main_container input{
    display: block;
    font: inherit;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 100%;
    padding: 15px;
    background-color: hsl(25, 97%, 53%);
    color: white;
    border-style: none;
    border-radius: 25px;
    letter-spacing: 3px;
}

.main_container button:focus{
    color: hsl(25, 97%, 53%);
    background-color: white;
}

#select{
    margin: auto;
    background-color: hsl(213, 19%, 25%);
    width: 50%;
    margin-bottom: 2rem;
    align-items: center;
    padding: .2rem;
    border-radius: 20px;
    color: hsl(25, 97%, 53%);
}

.thankYou_container img{
    display: block;
    margin: 0 auto 2rem auto;
}

.thankYou_container h1{
    margin-bottom: 1rem;
    color: white;
    text-align: center;
    font: inherit;
    font-size: 2rem;
}

.thankYou_container p{
    color: hsl(217, 12%, 63%);
    text-align: center;
    margin: 0 0 2rem 0;
    line-height: 1.5rem;
    width: 100%;
}

.hidden{
    display: none;
}

.attribution {
    font-size: 14px;
    text-align: center;
    color: #fff;
    margin-top: 2rem;
}
  
.attribution a {
    color: hsl(128, 47%, 61%);
  }

@media only screen and (max-width: 375px) {
    .main_container, .thankYou_container {
        background-color: hsl(213, 19%, 18%);
        border-radius: 15px;
        width: 100%;
        padding: 1.2rem;
        margin: auto
    }

    .main_container p{
        margin-bottom: 1rem;
        color: hsl(217, 12%, 63%);
        line-height: 1.5rem;
        font-size: .9rem;
    }

    .main_container img{
        background-color: hsl(213, 19%, 25%);
        padding: 10px;
        border-radius: 50px;
        margin-left: .5rem;
        margin-top: 1rem;
    }

    .main_container h1{
        color: white;
        font: inherit;
        margin: 1rem 0 1rem 0;
        font-size: 1.5rem;
    }

    .thankYou_container img{
        display: block;
        margin: 1rem auto 2rem auto;
    }

    #select{
        margin: auto;
        background-color: hsl(213, 19%, 25%);
        width: 65%;
        margin-bottom: 1.5rem;
        align-items: center;
        padding: .2rem;
        border-radius: 20px;
        color: hsl(25, 97%, 53%);
    }

    .thankYou_container p{
        color: hsl(217, 12%, 63%);
        text-align: center;
        margin: 0 0 1rem 0;
        line-height: 1.5rem;
        width: 100%;
        font-size: .9rem;
    }

    .thankYou_container h1{
        margin-bottom: 1rem;
        color: white;
        text-align: center;
        font: inherit;
        font-size: 1.5rem;
    }
    
}